<div *screenBelowLarge class="title-bar-small user-title-bar">
    <span class="glyphicon glyphicon-menu-hamburger"></span>
    <div class="small-image-holder">
      <img class="logo-small" src="assets/logo.png" alt="Samagra Inc">
    </div>
    <span class="glyphicon glyphicon-option-vertical"></span>
</div>

<div *screenLarge class="title-bar user-title-bar">
  <img class="logo" src="assets/logo.png" alt="Samagra Inc">
  <div class="title">Samagra Inc</div>
  <div class="menu-area">
    <afw-top-bar>
    </afw-top-bar>
    <afw-menu></afw-menu>
  </div>
</div>